<template>
  <v-row justify="center">
    <v-col cols="12">
      <v-text-field
        v-model="item.firstName"
        :rules="rules.generic"
        required
        outlined
        dense
        label="Prénom"
      />
      <v-text-field
        v-model="item.lastName"
        :rules="rules.generic"
        required
        outlined
        dense
        label="Nom"
      />
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'

import Client from '../../../entities/Client'
import Validation from '../../utils/Validation'

export default Vue.extend({
  model: {
    prop: 'parentItem',
    event: 'change',
  },
  props: {
    parentItem: {
      required: true,
      type: Object as () => Client,
    },
  },
  data(): {
    item: Client,
    rules: {[key: string]: ((v: unknown) => string | boolean)[] },
    } {
    return {
      item: this.parentItem,
      rules: Validation,
    }
  },
  watch: {
    parentItem: {
      deep: true,
      handler() {
        this.item = this.parentItem
      },
    },
    item: {
      deep: true,
      handler() {
        this.$emit('change', this.item)
      },
    },
  },
})
</script>
