<template>
  <v-container>
    <h1
      class="text-h3 font-weight-light text-center"
      style="margin-bottom: 3%"
    >
      Créer un client
    </h1>

    <v-form
      ref="form"
      v-model="valid"
    >
      <client-form v-model="item" />
    </v-form>
    <v-divider />

    <div style="margin-top: 2%">
      <v-row justify="space-around">
        <v-btn
          outlined
          large
          color="primary"
          @click="save"
        >
          <v-icon left>
            fa-save
          </v-icon>
          Sauvegarder
        </v-btn>
        <v-btn
          text
          large
          color="error"
          link
          to="/clients"
        >
          <v-icon left>
            fa-times
          </v-icon>
          Annuler
        </v-btn>
      </v-row>
    </div>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

import IPC from '../../services/IPC'
import Client from '../../../entities/Client'
import ClientForm from '../../components/Clients/Form.vue'

export default Vue.extend({
  components: {
    ClientForm,
  },
  data: (): {
    item: Client,
    loading: boolean,
    valid: boolean,
  } => ({
    item: {
      firstName: '',
      lastName: '',
    },
    loading: false,
    valid: false,
  }),
  methods: {
    async save() {
      try {
        if ((this.$refs.form as Vue & { validate: () => boolean }).validate()) {
          this.loading = true
          await IPC.invoke('clients-create', this.item)
          await this.$router.push('/clients')
        } else {
          throw new Error('validation failed')
        }
      } catch (e) {
        // console.error(e)
      } finally {
        this.loading = false
      }
    },
  },
})
</script>
