<template>
  <v-container fluid>
    <v-card
      flat
      :disabled="loading"
      :loading="loading"
    >
      <h1
        class="text-center"
      >
        {{ item.firstName }} {{ item.lastName }}
      </h1>
    </v-card>
  </v-container>
</template>
<script lang="ts">

import Vue from 'vue'

import Client from '../../../entities/Client'
import IPC from '../../services/IPC'

export default Vue.extend({
  data: (): {
    item: Client,
    loading: boolean,
  } => ({
    item: {} as Client,
    loading: false,
  }),
  mounted() {
    void this.loadItem()
  },
  methods: {
    async loadItem() {
      this.loading = true
      this.item = (await IPC.invoke('clients-get', { id: this.$route.params.id })) as Client
      this.loading = false
    },
  },
})
</script>
