<template>
  <v-container fluid>
    <v-row
      justify="space-between"
      style="margin-left: 1%"
    >
      <v-col
        cols="12"
        md="3"
      >
        <v-btn
          color="primary"
          link
          outlined
          to="/clients/create"
        >
          <v-icon
            left
            small
          >
            fas fa-plus
          </v-icon>
          Ajouter un client
        </v-btn>
      </v-col>
    </v-row>
    <v-divider />

    <div>
      <div v-if="loading">
        <v-row
          justify="center"
        >
          <v-col cols="11">
            <v-progress-linear
              indeterminate
              height="10"
            />
          </v-col>
        </v-row>
      </div>
      <div v-else>
        <v-data-table
          :headers="headers"
          :items="items"
          :loading="loading"
          :sort-by="['lastName', 'firstName']"
        >
          <template #[`item.actions`]="{ item }">
            <v-btn
              color="primary"
              icon
              link
              :to="`/clients/${item.id}`"
            >
              <v-icon>
                fa-address-card
              </v-icon>
            </v-btn>
            <v-btn
              color="primary"
              icon
              link
              :to="`/clients/${item.id}/update`"
            >
              <v-icon>
                fa-edit
              </v-icon>
            </v-btn>
            <v-btn
              color="primary"
              icon
              @click="removeItem(item.id)"
            >
              <v-icon>
                fa-trash
              </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </div>
    </div>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { DataTableHeader } from 'vuetify'

import Client from '../../../entities/Client'
import IPC from '../../services/IPC'

export default Vue.extend({
  data() : {
    items: Client[],
    headers: DataTableHeader[],
    loading: boolean,
    } {
    return {
      items: [],
      headers: [
        {
          text: 'Prénom',
          value: 'firstName',
        },
        {
          text: 'Nom',
          value: 'lastName',
        },
        {
          text: 'Actions',
          value: 'actions',
          sortable: false,
          align: 'end',
        },
      ],
      loading: false,
    }
  },
  created() {
    void this.loadItems()
  },
  methods: {
    async loadItems() {
      this.loading = true
      this.items = (await IPC.invoke('clients-list')) as Client[]
      this.loading = false
    },
    async removeItem(id: string) {
      this.loading = true
      await IPC.invoke('clients-remove', { id })
      this.loading = false
      void this.loadItems()
    },
  },
})
</script>
