<template>
  <v-container>
    <div v-if="loading">
      <v-skeleton-loader
        type="article"
      />
    </div>
    <div v-else>
      <h1
        class="text-h3 font-weight-light text-center"
        style="margin-bottom: 3%"
      >
        Éditer le client : {{ item.firstName }}
      </h1>

      <v-form
        ref="form"
        v-model="valid"
      >
        <client-form v-model="item" />
      </v-form>

      <v-divider />

      <div style="margin-top: 2%">
        <v-row justify="space-around">
          <v-btn
            outlined
            large
            color="primary"
            @click="save"
          >
            <v-icon left>
              fa-save
            </v-icon>
            Sauvegarder
          </v-btn>
          <v-btn
            text
            large
            color="error"
            link
            to="/clients"
          >
            <v-icon left>
              fa-times
            </v-icon>
            Annuler
          </v-btn>
        </v-row>
      </div>
    </div>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

import IPC from '../../services/IPC'
import ClientForm from '../../components/Clients/Form.vue'
import Client from '../../../entities/Client'

export default Vue.extend({
  components: {
    ClientForm,
  },
  data: (): {
    item: Client,
    loading: boolean,
    valid: boolean,
  } => ({
    item: {} as Client,
    loading: true,
    valid: false,
  }),
  mounted() {
    void this.loadItem()
  },
  methods: {
    async loadItem() {
      this.loading = true
      this.item = (await IPC.invoke('clients-get', { id: this.$route.params.id })) as Client
      this.loading = false
    },
    async save() {
      try {
        if ((this.$refs.form as Vue & { validate: () => boolean }).validate()) {
          this.loading = true
          await IPC.invoke('clients-update', this.item)
          await this.$router.push('/clients')
        } else {
          throw new Error('validation failed')
        }
      } catch (e) {
        // console.error(e)
      } finally {
        this.loading = false
      }
    },
  },
})
</script>
